In [1]:
import pandas as pd
# import sys

In [2]:
# sys.path.append("C:/Users/44756/Documents/Postgrad/DSA8030/Data/")

In [3]:
# Refined data from initial.ipynb
sold_valdate = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/sold_valdate.csv", dtype = {'brokered_by':'string', 'street':'string', 'zip_code':'string'}, parse_dates = [11])

In [4]:
# "US Zip Codes Demographics" dataset
demo_data = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/zip_code_demographics.csv", dtype = {'zip':'string'})

In [5]:
# Climate data from various sources laid out in README.md

# Mainland US, 2020
tempus2020 = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/2020avgtemp.csv", usecols = [1,2,3])
precipus2020 = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/2020precip.csv", usecols = [1,2,3])
maxtempus2020 = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/2020maxtemp.csv", usecols = [1,2,3])
mintempus2020 = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/2020mintemp.csv", usecols = [1,2,3])

# Mainland US, 2021
tempus2021 = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/2021avgtemp.csv", usecols = [1,2,3])
precipus2021 = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/2020precip.csv", usecols = [1,2,3])
maxtempus2021 = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/2021maxtemp.csv", usecols = [1,2,3])
mintempus2021 = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/2021mintemp.csv", usecols = [1,2,3])

# Puerto Rico
temppr = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/PRavgtemp.csv", usecols = [1,2,3])
precippr = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/PRprecip.csv", usecols = [1,2,3])
maxtemppr = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/PRmaxtemp.csv", usecols = [1,2,3])
mintemppr = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/PRmintemp.csv", usecols = [1,2,3])

# U.S. Virgin Islands
tempvi = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/VIavgtemp.csv", usecols = [1,2,3])
precipvi = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/VIprecip.csv", usecols = [1,2,3])
maxtempvi = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/VImaxtemp.csv", usecols = [1,2,3])
mintempvi = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/VImintemp.csv", usecols = [1,2,3])

In [6]:
# Crosswalk datasets
crosswalk = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/crosswalk.csv", usecols = [0,1,2], dtype = {'ZIP':'string'})
crosswalkpr = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/PRcrosswalk.csv")

In [7]:
# Merging sold houses with crosswalk dataset
sold_cw = pd.merge(sold_valdate, crosswalk, left_on = 'zip_code', right_on = 'ZIP')
sold_cw = sold_cw.drop(axis = 1, labels = ['status', 'ZIP'])
sold_cw

,brokered_by,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date,COUNTYNAME,STATEFULL
0,62066.0,77500.0,3.0,1.0,NaN,1072625.0,Ponce,Puerto Rico,00717,957.0,2021-01-29 00:11:00,Ponce Municipio,Puerto Rico
1,72457.0,524900.0,3.0,2.0,0.09,1850809.0,Aguada,Puerto Rico,00602,2200.0,2021-01-13 00:12:00,Aguada Municipio,Puerto Rico
2,48586.0,175000.0,NaN,NaN,0.14,1139965.0,Aguadilla,Puerto Rico,00603,3200.0,2021-01-29 00:11:00,Aguadilla Municipio,Puerto Rico
3,61711.0,90000.0,3.0,2.0,0.08,141421.0,Aguadilla,Puerto Rico,00603,1421.0,2021-01-19 00:10:00,Aguadilla Municipio,Puerto Rico
4,49592.0,22500.0,2.0,1.0,0.32,1889894.0,Anasco,Puerto Rico,00610,850.0,2021-01-30 00:12:00,Anasco Municipio,Puerto Rico
...,...,...,...,...,...,...,...,...,...,...,...,...,...
811245,23009.0,359900.0,4.0,2.0,0.33,353094.0,Richland,Washington,99354,3600.0,2022-01-25 00:03:00,Benton County,Washington
811246,18208.0,350000.0,3.0,2.0,0.10,1062149.0,Richland,Washington,99354,1616.0,2022-01-25 00:03:00,Benton County,Washington
811247,76856.0,440000.0,6.0,3.0,0.50,405677.0,Richland,Washington,99354,3200.0,2022-01-24 00:03:00,Benton County,Washington
811248,53618.0,179900.0,2.0,1.0,0.09,761379.0,Richland,Washington,99354,933.0,2022-01-24 00:03:00,Benton County,Washington
811249,108243.0,580000.0,5.0,3.0,0.31,307704.0,Richland,Washington,99354,3615.0,2022-01-23 00:03:00,Benton County,Washington

In [8]:
# Filtering to mainland US properties
sold_cw_us = sold_cw[(sold_cw.state != 'Puerto Rico') & (sold_cw.state != 'Virgin Islands')]
sold_cw_us

,brokered_by,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date,COUNTYNAME,STATEFULL
607,53016.0,215000.0,2.0,2.0,NaN,597574.0,Agawam,Massachusetts,01001,1136.0,2022-01-11 00:04:00,Hampden County,Massachusetts
608,8147.0,232900.0,2.0,2.0,NaN,1138393.0,Agawam,Massachusetts,01001,1428.0,2022-01-11 00:04:00,Hampden County,Massachusetts
609,48733.0,975000.0,3.0,4.0,3.04,431222.0,Amherst,Massachusetts,01002,2074.0,2022-01-15 00:04:00,Franklin County,Massachusetts
610,48733.0,649900.0,4.0,3.0,0.48,1122145.0,Amherst,Massachusetts,01002,2650.0,2022-01-14 00:04:00,Franklin County,Massachusetts
611,79067.0,215000.0,3.0,2.0,0.19,697261.0,Chicopee,Massachusetts,01020,1828.0,2022-01-15 00:04:00,Hampden County,Massachusetts
...,...,...,...,...,...,...,...,...,...,...,...,...,...
811245,23009.0,359900.0,4.0,2.0,0.33,353094.0,Richland,Washington,99354,3600.0,2022-01-25 00:03:00,Benton County,Washington
811246,18208.0,350000.0,3.0,2.0,0.10,1062149.0,Richland,Washington,99354,1616.0,2022-01-25 00:03:00,Benton County,Washington
811247,76856.0,440000.0,6.0,3.0,0.50,405677.0,Richland,Washington,99354,3200.0,2022-01-24 00:03:00,Benton County,Washington
811248,53618.0,179900.0,2.0,1.0,0.09,761379.0,Richland,Washington,99354,933.0,2022-01-24 00:03:00,Benton County,Washington
811249,108243.0,580000.0,5.0,3.0,0.31,307704.0,Richland,Washington,99354,3615.0,2022-01-23 00:03:00,Benton County,Washington

In [9]:
# Splitting mainland US properties into the two years of sale
sold_cw_us_21 = sold_cw_us[(sold_cw_us.prev_sold_date >= '2021-01-01') & (sold_cw_us.prev_sold_date <= '2021-12-31') ]
sold_cw_us_22 = sold_cw_us[(sold_cw_us.prev_sold_date >= '2022-01-01') & (sold_cw_us.prev_sold_date <= '2022-12-31') ]

In [10]:
# Mainland US merging

# Average temperature
sold_cw_us_21_clim = pd.merge(sold_cw_us_21, tempus2020, how = 'inner', left_on = [sold_cw_us_21['COUNTYNAME'].str.lower(), sold_cw_us_21['STATEFULL'].str.lower()], right_on = [tempus2020['Name'].str.lower(), tempus2020['State'].str.lower()])
sold_cw_us_22_clim = pd.merge(sold_cw_us_22, tempus2021, how = 'inner', left_on = [sold_cw_us_22['COUNTYNAME'].str.lower(), sold_cw_us_22['STATEFULL'].str.lower()], right_on = [tempus2021['Name'].str.lower(), tempus2021['State'].str.lower()])
sold_cw_us_21_clim = sold_cw_us_21_clim.rename(columns = {'Value':'avgtemp'})
sold_cw_us_22_clim = sold_cw_us_22_clim.rename(columns = {'Value':'avgtemp'})
sold_cw_us_21_clim = sold_cw_us_21_clim.drop(columns = ['key_0', 'key_1', 'Name', 'State'])
sold_cw_us_22_clim = sold_cw_us_22_clim.drop(columns = ['key_0', 'key_1', 'Name', 'State'])

# Precipitation
sold_cw_us_21_clim = pd.merge(sold_cw_us_21_clim, precipus2020, how = 'inner', left_on = [sold_cw_us_21_clim['COUNTYNAME'].str.lower(), sold_cw_us_21_clim['STATEFULL'].str.lower()], right_on = [precipus2020['Name'].str.lower(), precipus2020['State'].str.lower()])
sold_cw_us_22_clim = pd.merge(sold_cw_us_22_clim, precipus2021, how = 'inner', left_on = [sold_cw_us_22_clim['COUNTYNAME'].str.lower(), sold_cw_us_22_clim['STATEFULL'].str.lower()], right_on = [precipus2021['Name'].str.lower(), precipus2021['State'].str.lower()])
sold_cw_us_21_clim = sold_cw_us_21_clim.rename(columns = {'Value':'precipitation'})
sold_cw_us_22_clim = sold_cw_us_22_clim.rename(columns = {'Value':'precipitation'})
sold_cw_us_21_clim = sold_cw_us_21_clim.drop(columns = ['key_0', 'key_1', 'Name', 'State'])
sold_cw_us_22_clim = sold_cw_us_22_clim.drop(columns = ['key_0', 'key_1', 'Name', 'State'])

# Maximum temperature
sold_cw_us_21_clim = pd.merge(sold_cw_us_21_clim, maxtempus2020, how = 'inner', left_on = [sold_cw_us_21_clim['COUNTYNAME'].str.lower(), sold_cw_us_21_clim['STATEFULL'].str.lower()], right_on = [maxtempus2020['Name'].str.lower(), maxtempus2020['State'].str.lower()])
sold_cw_us_22_clim = pd.merge(sold_cw_us_22_clim, maxtempus2021, how = 'inner', left_on = [sold_cw_us_22_clim['COUNTYNAME'].str.lower(), sold_cw_us_22_clim['STATEFULL'].str.lower()], right_on = [maxtempus2021['Name'].str.lower(), maxtempus2021['State'].str.lower()])
sold_cw_us_21_clim = sold_cw_us_21_clim.rename(columns = {'Value':'maxtemp'})
sold_cw_us_22_clim = sold_cw_us_22_clim.rename(columns = {'Value':'maxtemp'})
sold_cw_us_21_clim = sold_cw_us_21_clim.drop(columns = ['key_0', 'key_1', 'Name', 'State'])
sold_cw_us_22_clim = sold_cw_us_22_clim.drop(columns = ['key_0', 'key_1', 'Name', 'State'])

# Minimum temperature
sold_cw_us_21_clim = pd.merge(sold_cw_us_21_clim, mintempus2020, how = 'inner', left_on = [sold_cw_us_21_clim['COUNTYNAME'].str.lower(), sold_cw_us_21_clim['STATEFULL'].str.lower()], right_on = [mintempus2020['Name'].str.lower(), mintempus2020['State'].str.lower()])
sold_cw_us_22_clim = pd.merge(sold_cw_us_22_clim, mintempus2021, how = 'inner', left_on = [sold_cw_us_22_clim['COUNTYNAME'].str.lower(), sold_cw_us_22_clim['STATEFULL'].str.lower()], right_on = [mintempus2021['Name'].str.lower(), mintempus2021['State'].str.lower()])
sold_cw_us_21_clim = sold_cw_us_21_clim.rename(columns = {'Value':'mintemp'})
sold_cw_us_22_clim = sold_cw_us_22_clim.rename(columns = {'Value':'mintemp'})
sold_cw_us_21_clim = sold_cw_us_21_clim.drop(columns = ['key_0', 'key_1', 'Name', 'State', 'STATEFULL'])
sold_cw_us_22_clim = sold_cw_us_22_clim.drop(columns = ['key_0', 'key_1', 'Name', 'State', 'STATEFULL'])

# Both years merged
sold_cw_us_clim = pd.concat([sold_cw_us_21_clim, sold_cw_us_22_clim])
sold_cw_us_clim

,brokered_by,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date,COUNTYNAME,avgtemp,precipitation,maxtemp,mintemp
0,8147.0,150000.0,NaN,NaN,40.51,1963892.0,Blandford,Massachusetts,01008,NaN,2021-01-14 00:12:00,Berkshire County,48.0,40.44,58.0,37.9
1,53016.0,285000.0,3.0,2.0,2.80,12355.0,Blandford,Massachusetts,01008,1248.0,2021-01-03 00:12:00,Berkshire County,48.0,40.44,58.0,37.9
2,53016.0,235000.0,3.0,2.0,0.96,1637754.0,Blandford,Massachusetts,01008,1220.0,2021-01-02 00:12:00,Berkshire County,48.0,40.44,58.0,37.9
3,71852.0,95000.0,NaN,NaN,12.00,1885253.0,Blandford,Massachusetts,01008,NaN,2021-01-04 00:11:00,Berkshire County,48.0,40.44,58.0,37.9
4,107912.0,539000.0,3.0,3.0,2.45,152107.0,Blandford,Massachusetts,01008,3158.0,2021-01-29 00:10:00,Berkshire County,48.0,40.44,58.0,37.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562141,23009.0,359900.0,4.0,2.0,0.33,353094.0,Richland,Washington,99354,3600.0,2022-01-25 00:03:00,Benton County,54.7,6.41,66.2,43.1
562142,18208.0,350000.0,3.0,2.0,0.10,1062149.0,Richland,Washington,99354,1616.0,2022-01-25 00:03:00,Benton County,54.7,6.41,66.2,43.1
562143,76856.0,440000.0,6.0,3.0,0.50,405677.0,Richland,Washington,99354,3200.0,2022-01-24 00:03:00,Benton County,54.7,6.41,66.2,43.1
562144,53618.0,179900.0,2.0,1.0,0.09,761379.0,Richland,Washington,99354,933.0,2022-01-24 00:03:00,Benton County,54.7,6.41,66.2,43.1
562145,108243.0,580000.0,5.0,3.0,0.31,307704.0,Richland,Washington,99354,3615.0,2022-01-23 00:03:00,Benton County,54.7,6.41,66.2,43.1

In [11]:
# Filter to Puerto Rican sold properties and merge PR crosswalk 
# Our data source splits Puerto Rico's municipalities into eight areas which I have hand sorted in the crosswalk file.
sold_cw_pr = sold_cw[sold_cw.state == 'Puerto Rico']
sold_cw_pr = pd.merge(sold_cw_pr, crosswalkpr, left_on = 'COUNTYNAME', right_on = 'Municipality')

In [12]:
# Split properties into the two years of sale.
sold_cw_pr_21 = sold_cw_pr[(sold_cw_pr.prev_sold_date >= '2021-01-01') & (sold_cw_pr.prev_sold_date <= '2021-12-31') ]
sold_cw_pr_22 = sold_cw_pr[(sold_cw_pr.prev_sold_date >= '2022-01-01') & (sold_cw_pr.prev_sold_date <= '2022-12-31') ]

In [13]:
# Puerto Rico merging

# Average temperature
sold_cw_pr_21_clim = pd.merge(sold_cw_pr_21, temppr, how = 'inner', left_on = 'ClimReg', right_on = 'name')
sold_cw_pr_22_clim = pd.merge(sold_cw_pr_22, temppr, how = 'inner', left_on = 'ClimReg', right_on = 'name')
sold_cw_pr_21_clim = sold_cw_pr_21_clim.drop(columns = ['2021'])
sold_cw_pr_21_clim = sold_cw_pr_21_clim.rename(columns = {'2020':'avgtemp'})
sold_cw_pr_22_clim = sold_cw_pr_22_clim.drop(columns = ['2020'])
sold_cw_pr_22_clim = sold_cw_pr_22_clim.rename(columns = {'2021':'avgtemp'})
sold_cw_pr_21_clim = sold_cw_pr_21_clim.drop(columns = ['STATEFULL', 'Municipality', 'name'])
sold_cw_pr_22_clim = sold_cw_pr_22_clim.drop(columns = ['STATEFULL', 'Municipality', 'name'])

# Precipitation
sold_cw_pr_21_clim = pd.merge(sold_cw_pr_21_clim, precippr, how = 'inner', left_on = 'ClimReg', right_on = 'name')
sold_cw_pr_22_clim = pd.merge(sold_cw_pr_22_clim, precippr, how = 'inner', left_on = 'ClimReg', right_on = 'name')
sold_cw_pr_21_clim = sold_cw_pr_21_clim.drop(columns = ['2021'])
sold_cw_pr_21_clim = sold_cw_pr_21_clim.rename(columns = {'2020':'precipitation'})
sold_cw_pr_22_clim = sold_cw_pr_22_clim.drop(columns = ['2020'])
sold_cw_pr_22_clim = sold_cw_pr_22_clim.rename(columns = {'2021':'precipitation'})
sold_cw_pr_21_clim = sold_cw_pr_21_clim.drop(columns = ['name'])
sold_cw_pr_22_clim = sold_cw_pr_22_clim.drop(columns = ['name'])

# Maximum temperature
sold_cw_pr_21_clim = pd.merge(sold_cw_pr_21_clim, maxtemppr, how = 'inner', left_on = 'ClimReg', right_on = 'name')
sold_cw_pr_22_clim = pd.merge(sold_cw_pr_22_clim, maxtemppr, how = 'inner', left_on = 'ClimReg', right_on = 'name')
sold_cw_pr_21_clim = sold_cw_pr_21_clim.drop(columns = ['2021'])
sold_cw_pr_21_clim = sold_cw_pr_21_clim.rename(columns = {'2020':'maxtemp'})
sold_cw_pr_22_clim = sold_cw_pr_22_clim.drop(columns = ['2020'])
sold_cw_pr_22_clim = sold_cw_pr_22_clim.rename(columns = {'2021':'maxtemp'})
sold_cw_pr_21_clim = sold_cw_pr_21_clim.drop(columns = ['name'])
sold_cw_pr_22_clim = sold_cw_pr_22_clim.drop(columns = ['name'])

# Minimum temperature
sold_cw_pr_21_clim = pd.merge(sold_cw_pr_21_clim, maxtemppr, how = 'inner', left_on = 'ClimReg', right_on = 'name')
sold_cw_pr_22_clim = pd.merge(sold_cw_pr_22_clim, maxtemppr, how = 'inner', left_on = 'ClimReg', right_on = 'name')
sold_cw_pr_21_clim = sold_cw_pr_21_clim.drop(columns = ['2021'])
sold_cw_pr_21_clim = sold_cw_pr_21_clim.rename(columns = {'2020':'mintemp'})
sold_cw_pr_22_clim = sold_cw_pr_22_clim.drop(columns = ['2020'])
sold_cw_pr_22_clim = sold_cw_pr_22_clim.rename(columns = {'2021':'mintemp'})
sold_cw_pr_21_clim = sold_cw_pr_21_clim.drop(columns = ['ClimReg', 'name'])
sold_cw_pr_22_clim = sold_cw_pr_22_clim.drop(columns = ['ClimReg', 'name'])

# Both years merged
sold_cw_pr_clim = pd.concat([sold_cw_pr_21_clim, sold_cw_pr_22_clim])
sold_cw_pr_clim

,brokered_by,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date,COUNTYNAME,avgtemp,precipitation,maxtemp,mintemp
0,62066.0,77500.0,3.0,1.0,NaN,1072625.0,Ponce,Puerto Rico,00717,957.0,2021-01-29 00:11:00,Ponce Municipio,77.000,75.326025,30.33,30.33
1,72457.0,524900.0,3.0,2.0,0.09,1850809.0,Aguada,Puerto Rico,00602,2200.0,2021-01-13 00:12:00,Aguada Municipio,77.432,80.255555,30.52,30.52
2,48586.0,175000.0,NaN,NaN,0.14,1139965.0,Aguadilla,Puerto Rico,00603,3200.0,2021-01-29 00:11:00,Aguadilla Municipio,77.432,80.255555,30.52,30.52
3,61711.0,90000.0,3.0,2.0,0.08,141421.0,Aguadilla,Puerto Rico,00603,1421.0,2021-01-19 00:10:00,Aguadilla Municipio,77.432,80.255555,30.52,30.52
4,49592.0,22500.0,2.0,1.0,0.32,1889894.0,Anasco,Puerto Rico,00610,850.0,2021-01-30 00:12:00,Anasco Municipio,77.432,80.255555,30.52,30.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276,41709.0,175000.0,3.0,2.0,NaN,1750245.0,Carolina,Puerto Rico,00987,1321.0,2022-01-15 00:02:00,Carolina Municipio,77.054,71.690590,30.07,30.07
277,102922.0,144900.0,4.0,2.0,11.00,10757.0,Carolina,Puerto Rico,00987,1400.0,2022-01-14 00:02:00,Carolina Municipio,77.054,71.690590,30.07,30.07
278,29911.0,165000.0,3.0,2.0,0.02,1843751.0,Carolina,Puerto Rico,00987,3100.0,2022-01-14 00:01:00,Carolina Municipio,77.054,71.690590,30.07,30.07
279,29911.0,39000.0,3.0,1.0,0.02,1320010.0,Carolina,Puerto Rico,00987,505.0,2022-01-07 00:01:00,Carolina Municipio,77.054,71.690590,30.07,30.07
280,29940.0,125000.0,3.0,2.0,0.02,1733349.0,Carolina,Puerto Rico,00987,1178.0,2022-01-04 00:01:00,Carolina Municipio,77.054,71.690590,30.07,30.07

In [14]:
# Filter to Virgin Islands sold properties
sold_cw_vi = sold_cw[sold_cw.state == 'Virgin Islands']

In [15]:
# Split properties into the two years of sale.
sold_cw_vi_21 = sold_cw_vi[(sold_cw_vi.prev_sold_date >= '2021-01-01') & (sold_cw_vi.prev_sold_date <= '2021-12-31') ]
sold_cw_vi_22 = sold_cw_vi[(sold_cw_vi.prev_sold_date >= '2022-01-01') & (sold_cw_vi.prev_sold_date <= '2022-12-31') ]

In [16]:
# U.S. Virgin Islands merging

# Average temperature
sold_cw_vi_21_clim = pd.merge(sold_cw_vi_21, tempvi, how = 'inner', left_on = 'COUNTYNAME', right_on = 'name')
sold_cw_vi_22_clim = pd.merge(sold_cw_vi_22, tempvi, how = 'inner', left_on = 'COUNTYNAME', right_on = 'name')
sold_cw_vi_21_clim = sold_cw_vi_21_clim.drop(columns = ['2021'])
sold_cw_vi_21_clim = sold_cw_vi_21_clim.rename(columns = {'2020':'avgtemp'})
sold_cw_vi_22_clim = sold_cw_vi_22_clim.drop(columns = ['2020'])
sold_cw_vi_22_clim = sold_cw_vi_22_clim.rename(columns = {'2021':'avgtemp'})
sold_cw_vi_21_clim = sold_cw_vi_21_clim.drop(columns = ['STATEFULL', 'name'])
sold_cw_vi_22_clim = sold_cw_vi_22_clim.drop(columns = ['STATEFULL', 'name'])

# Precipitation
sold_cw_vi_21_clim = pd.merge(sold_cw_vi_21_clim, precipvi, how = 'inner', left_on = 'COUNTYNAME', right_on = 'name')
sold_cw_vi_22_clim = pd.merge(sold_cw_vi_22_clim, precipvi, how = 'inner', left_on = 'COUNTYNAME', right_on = 'name')
sold_cw_vi_21_clim = sold_cw_vi_21_clim.drop(columns = ['2021'])
sold_cw_vi_21_clim = sold_cw_vi_21_clim.rename(columns = {'2020':'precipitation'})
sold_cw_vi_22_clim = sold_cw_vi_22_clim.drop(columns = ['2020'])
sold_cw_vi_22_clim = sold_cw_vi_22_clim.rename(columns = {'2021':'precipitation'})
sold_cw_vi_21_clim = sold_cw_vi_21_clim.drop(columns = ['name'])
sold_cw_vi_22_clim = sold_cw_vi_22_clim.drop(columns = ['name'])

# Maximum temperature
sold_cw_vi_21_clim = pd.merge(sold_cw_vi_21_clim, maxtempvi, how = 'inner', left_on = 'COUNTYNAME', right_on = 'name')
sold_cw_vi_22_clim = pd.merge(sold_cw_vi_22_clim, maxtempvi, how = 'inner', left_on = 'COUNTYNAME', right_on = 'name')
sold_cw_vi_21_clim = sold_cw_vi_21_clim.drop(columns = ['2021'])
sold_cw_vi_21_clim = sold_cw_vi_21_clim.rename(columns = {'2020':'maxtemp'})
sold_cw_vi_22_clim = sold_cw_vi_22_clim.drop(columns = ['2020'])
sold_cw_vi_22_clim = sold_cw_vi_22_clim.rename(columns = {'2021':'maxtemp'})
sold_cw_vi_21_clim = sold_cw_vi_21_clim.drop(columns = ['name'])
sold_cw_vi_22_clim = sold_cw_vi_22_clim.drop(columns = ['name'])

# Minimum temperature
sold_cw_vi_21_clim = pd.merge(sold_cw_vi_21_clim, mintempvi, how = 'inner', left_on = 'COUNTYNAME', right_on = 'name')
sold_cw_vi_22_clim = pd.merge(sold_cw_vi_22_clim, mintempvi, how = 'inner', left_on = 'COUNTYNAME', right_on = 'name')
sold_cw_vi_21_clim = sold_cw_vi_21_clim.drop(columns = ['2021'])
sold_cw_vi_21_clim = sold_cw_vi_21_clim.rename(columns = {'2020':'mintemp'})
sold_cw_vi_22_clim = sold_cw_vi_22_clim.drop(columns = ['2020'])
sold_cw_vi_22_clim = sold_cw_vi_22_clim.rename(columns = {'2021':'mintemp'})
sold_cw_vi_21_clim = sold_cw_vi_21_clim.drop(columns = ['name'])
sold_cw_vi_22_clim = sold_cw_vi_22_clim.drop(columns = ['name'])

# Both years merged
sold_cw_vi_clim = pd.concat([sold_cw_vi_21_clim, sold_cw_vi_22_clim])
sold_cw_vi_clim

,brokered_by,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date,COUNTYNAME,avgtemp,precipitation,maxtemp,mintemp
0,22968.0,275000.0,3.0,2.0,0.25,599695.0,Christiansted,Virgin Islands,00820,1058.0,2021-01-30 00:12:00,St. Croix Island,81.284,47.590577,32.4,22.4
1,22968.0,93000.0,NaN,1.0,NaN,1685878.0,Christiansted,Virgin Islands,00820,510.0,2021-01-17 00:12:00,St. Croix Island,81.284,47.590577,32.4,22.4
2,34543.0,875000.0,7.0,8.0,0.93,1142445.0,Christiansted,Virgin Islands,00820,14000.0,2021-01-16 00:12:00,St. Croix Island,81.284,47.590577,32.4,22.4
3,22968.0,274900.0,NaN,NaN,1.18,131049.0,Christiansted,Virgin Islands,00820,NaN,2021-01-09 00:12:00,St. Croix Island,81.284,47.590577,32.4,22.4
4,22968.0,350000.0,NaN,NaN,32.19,1949374.0,Frederiksted,Virgin Islands,00840,NaN,2021-01-23 00:12:00,St. Croix Island,81.284,47.590577,32.4,22.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,22968.0,340000.0,NaN,NaN,10.00,913321.0,Christiansted,Virgin Islands,00820,NaN,2022-01-14 00:01:00,St. Croix Island,81.086,39.177187,32.1,22.3
78,22968.0,799000.0,5.0,4.0,0.65,1286017.0,Christiansted,Virgin Islands,00820,3833.0,2022-01-11 00:01:00,St. Croix Island,81.086,39.177187,32.1,22.3
79,22968.0,329000.0,2.0,2.0,NaN,1842891.0,Christiansted,Virgin Islands,00820,1660.0,2022-01-10 00:01:00,St. Croix Island,81.086,39.177187,32.1,22.3
80,17348.0,239500.0,1.0,2.0,NaN,192548.0,Christiansted,Virgin Islands,00820,741.0,2022-01-06 00:01:00,St. Croix Island,81.086,39.177187,32.1,22.3
81,79277.0,79000.0,NaN,NaN,0.80,574067.0,Christiansted,Virgin Islands,00820,NaN,2022-01-03 00:01:00,St. Croix Island,81.086,39.177187,32.1,22.3

In [17]:
sold_clim = pd.concat([sold_cw_us_clim, sold_cw_pr_clim, sold_cw_vi_clim])
sold_clim

,brokered_by,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date,COUNTYNAME,avgtemp,precipitation,maxtemp,mintemp
0,8147.0,150000.0,NaN,NaN,40.51,1963892.0,Blandford,Massachusetts,01008,NaN,2021-01-14 00:12:00,Berkshire County,48.000,40.440000,58.0,37.9
1,53016.0,285000.0,3.0,2.0,2.80,12355.0,Blandford,Massachusetts,01008,1248.0,2021-01-03 00:12:00,Berkshire County,48.000,40.440000,58.0,37.9
2,53016.0,235000.0,3.0,2.0,0.96,1637754.0,Blandford,Massachusetts,01008,1220.0,2021-01-02 00:12:00,Berkshire County,48.000,40.440000,58.0,37.9
3,71852.0,95000.0,NaN,NaN,12.00,1885253.0,Blandford,Massachusetts,01008,NaN,2021-01-04 00:11:00,Berkshire County,48.000,40.440000,58.0,37.9
4,107912.0,539000.0,3.0,3.0,2.45,152107.0,Blandford,Massachusetts,01008,3158.0,2021-01-29 00:10:00,Berkshire County,48.000,40.440000,58.0,37.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,22968.0,340000.0,NaN,NaN,10.00,913321.0,Christiansted,Virgin Islands,00820,NaN,2022-01-14 00:01:00,St. Croix Island,81.086,39.177187,32.1,22.3
78,22968.0,799000.0,5.0,4.0,0.65,1286017.0,Christiansted,Virgin Islands,00820,3833.0,2022-01-11 00:01:00,St. Croix Island,81.086,39.177187,32.1,22.3
79,22968.0,329000.0,2.0,2.0,NaN,1842891.0,Christiansted,Virgin Islands,00820,1660.0,2022-01-10 00:01:00,St. Croix Island,81.086,39.177187,32.1,22.3
80,17348.0,239500.0,1.0,2.0,NaN,192548.0,Christiansted,Virgin Islands,00820,741.0,2022-01-06 00:01:00,St. Croix Island,81.086,39.177187,32.1,22.3
81,79277.0,79000.0,NaN,NaN,0.80,574067.0,Christiansted,Virgin Islands,00820,NaN,2022-01-03 00:01:00,St. Croix Island,81.086,39.177187,32.1,22.3

In [18]:
# Facilities dataset
# This is missing some zip codes and so we lost some data if we do an inner merge on this.

In [19]:
sold_final = pd.merge(sold_clim, demo_data, left_on = "zip_code", right_on = 'zip')
sold_final = sold_final.drop(columns = ['zip', 'lat', 'lng', 'city_y', 'state_id', 'state_name', 'county_name'])
sold_final = sold_final.rename(columns = {'city_x':'city'})
sold_final

,brokered_by,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,...,density,po_box,dist_highway,dist2_large_airport,dist2_medium_airport,dist_to_shore,number_of_business,adjusted_gross_income,total_income_amount,number_of_returns
0,38575.0,249900.0,3.0,2.0,2.20,927492.0,Copake,New York,12502,1632.0,...,15.3,0,29.356915,142.967393,51.575269,110.621124,22.0,58026,59666.0000,530
1,65681.0,69900.0,3.0,1.0,0.29,646318.0,Wassaic,New York,12592,1552.0,...,39.2,0,31.557467,114.917661,33.278841,97.508783,29.0,38140,38541.0001,580
2,10368.0,285000.0,2.0,2.0,3.00,894984.0,New Lebanon,New York,12125,1294.0,...,30.9,0,11.757123,183.344064,44.430259,148.010164,51.0,49821,50219.0001,780
3,34270.0,415000.0,3.0,2.0,1.40,447067.0,Elizaville,New York,12567,1670.0,...,20.2,0,30.147307,135.231390,43.958425,104.455549,91.0,120952,122623.0000,1310
4,51886.0,449900.0,2.0,2.0,1.70,1418346.0,Amenia,New York,12501,1912.0,...,23.9,0,37.454152,121.210684,36.498252,104.596593,73.0,155387,157293.0000,1090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763200,23009.0,359900.0,4.0,2.0,0.33,353094.0,Richland,Washington,99354,3600.0,...,410.3,0,8.249260,260.289872,15.838010,265.490774,323.0,871589,878029.0000,11500
763201,18208.0,350000.0,3.0,2.0,0.10,1062149.0,Richland,Washington,99354,1616.0,...,410.3,0,8.249260,260.289872,15.838010,265.490774,323.0,871589,878029.0000,11500
763202,76856.0,440000.0,6.0,3.0,0.50,405677.0,Richland,Washington,99354,3200.0,...,410.3,0,8.249260,260.289872,15.838010,265.490774,323.0,871589,878029.0000,11500
763203,53618.0,179900.0,2.0,1.0,0.09,761379.0,Richland,Washington,99354,933.0,...,410.3,0,8.249260,260.289872,15.838010,265.490774,323.0,871589,878029.0000,11500
763204,108243.0,580000.0,5.0,3.0,0.31,307704.0,Richland,Washington,99354,3615.0,...,410.3,0,8.249260,260.289872,15.838010,265.490774,323.0,871589,878029.0000,11500

In [20]:
sold_final.corr(numeric_only = True)

,price,bed,bath,acre_lot,house_size,avgtemp,precipitation,maxtemp,mintemp,population,density,po_box,dist_highway,dist2_large_airport,dist2_medium_airport,dist_to_shore,number_of_business,adjusted_gross_income,total_income_amount,number_of_returns
price,1.000000,0.212643,0.372301,0.004493,0.177943,0.027547,-0.130851,0.029354,0.024337,0.058553,0.181328,0.010938,-0.060678,-0.124364,-0.057412,-0.113087,0.191364,0.338794,0.339069,0.067798
bed,0.212643,1.000000,0.650926,0.000767,0.315580,-0.025176,-0.005585,-0.018886,-0.031009,0.049179,-0.094725,-0.009405,-0.013015,0.013680,0.008198,0.024433,-0.059682,0.017484,0.017468,0.038898
bath,0.372301,0.650926,1.000000,-0.002201,0.382278,0.043945,0.029553,0.043149,0.043135,0.062293,-0.047591,-0.004624,-0.036321,-0.058066,-0.007394,-0.018570,0.049277,0.167357,0.167649,0.066004
acre_lot,0.004493,0.000767,-0.002201,1.000000,0.000420,-0.007597,-0.003892,-0.007023,-0.007977,-0.004063,-0.001239,0.001893,0.002229,0.008620,-0.003589,-0.000476,-0.001539,-0.004053,-0.004053,-0.004329
house_size,0.177943,0.315580,0.382278,0.000420,1.000000,-0.009004,0.010956,-0.008427,-0.009193,0.000670,-0.031688,0.000880,0.008854,0.002356,0.013856,0.015909,-0.001578,0.052299,0.052441,-0.000995
avgtemp,0.027547,-0.025176,0.043945,-0.007597,-0.009004,1.000000,-0.029621,0.983478,0.980186,0.198664,-0.010191,-0.019917,-0.062596,-0.183637,-0.120263,-0.090702,0.044528,0.088278,0.088041,0.190323
precipitation,-0.130851,-0.005585,0.029553,-0.003892,0.010956,-0.029621,1.000000,-0.152360,0.106175,-0.138789,-0.036539,-0.042637,0.013333,-0.112476,0.010530,-0.201906,-0.048371,-0.074332,-0.074497,-0.121389
maxtemp,0.029354,-0.018886,0.043149,-0.007023,-0.008427,0.983478,-0.152360,1.000000,0.928167,0.203412,-0.045010,-0.011224,-0.041268,-0.115426,-0.103921,0.013610,0.030335,0.069092,0.068876,0.189486
mintemp,0.024337,-0.031009,0.043135,-0.007977,-0.009193,0.980186,0.106175,0.928167,1.000000,0.185698,0.027675,-0.028814,-0.083581,-0.250990,-0.133487,-0.200474,0.058089,0.105452,0.105201,0.183773
population,0.058553,0.049179,0.062293,-0.004063,0.000670,0.198664,-0.138789,0.203412,0.185698,1.000000,0.225379,-0.059726,-0.275881,-0.198650,-0.257190,-0.073994,0.517063,0.566109,0.565635,0.985191
density,0.181328,-0.094725,-0.047591,-0.001239,-0.031688,-0.010191,-0.036539,-0.045010,0.027675,0.225379,1.000000,-0.026016,-0.167194,-0.212159,-0.141536,-0.176295,0.392115,0.396075,0.396394,0.239969
po_box,0.010938,-0.009405,-0.004624,0.001893,0.000880,-0.019917,-0.042637,-0.011224,-0.028814,-0.059726,-0.026016,1.000000,0.091710,0.053139,0.059710,0.028190,-0.064049,-0.054504,-0.054542,-0.064740
dist_highway,-0.060678,-0.013015,-0.036321,0.002229,0.008854,-0.062596,0.013333,-0.041268,-0.083581,-0.275881,-0.167194,0.091710,1.000000,0.378829,0.314631,0.162657,-0.240713,-0.233033,-0.233030,-0.293687
dist2_large_airport,-0.124364,0.013680,-0.058066,0.008620,0.002356,-0.183637,-0.112476,-0.115426,-0.250990,-0.198650,-0.212159,0.053139,0.378829,1.000000,0.092887,0.521834,-0.199265,-0.263697,-0.263755,-0.228839
dist2_medium_airport,-0.057412,0.008198,-0.007394,-0.003589,0.013856,-0.120263,0.010530,-0.103921,-0.133487,-0.257190,-0.141536,0.059710,0.314631,0.092887,1.000000,0.124789,-0.224799,-0.169000,-0.168917,-0.264298
dist_to_shore,-0.113087,0.024433,-0.018570,-0.000476,0.015909,-0.090702,-0.201906,0.013610,-0.200474,-0.073994,-0.176295,0.028190,0.162657,0.521834,0.124789,1.000000,-0.106897,-0.158137,-0.158263,-0.100349
number_of_business,0.191364,-0.059682,0.049277,-0.001539,-0.001578,0.044528,-0.048371,0.030335,0.058089,0.517063,0.392115,-0.064049,-0.240713,-0.199265,-0.224799,-0.106897,1.000000,0.637207,0.637722,0.546590
adjusted_gross_income,0.338794,0.017484,0.167357,-0.004053,0.052299,0.088278,-0.074332,0.069092,0.105452,0.566109,0.396075,-0.054504,-0.233033,-0.263697,-0.169000,-0.158137,0.637207,1.000000,0.999990,0.590681
total_income_amount,0.339069,0.017468,0.167649,-0.004053,0.052441,0.088041,-0.074497,0.068876,0.105201,0.565635,0.396394,-0.054542,-0.233030,-0.263755,-0.168917,-0.158263,0.637722,0.999990,1.000000,0.590265
number_of_returns,0.067798,0.038898,0.066004,-0.004329,-0.000995,0.190323,-0.121389,0.189486,0.183773,0.985191,0.239969,-0.064740,-0.293687,-0.228839,-0.264298,-0.100349,0.546590,0.590681,0.590265,1.000000

In [21]:
sold_final = sold_final.rename(columns = {'COUNTYNAME':'county', 'dist_highway':'dhighway', 'dist2_large_airport':'dlairport', 'dist2_medium_airport':'dmairport', 'dist_to_shore':'dshore', 'number_of_business':'nobusiness'})

In [22]:
# sold_final.to_csv("sold_merged.csv", index = False)