In [1]:
import pandas as pd
import sys

In [2]:
sys.path.append("C:/Users/44756/Documents/Postgrad/DSA8030/Data/")

In [3]:
# Refined data from initial.ipynb
sold_valdate = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/sold_valdate.csv", dtype = {'brokered_by':'string', 'street':'string', 'zip_code':'string'}, parse_dates = [11])

In [4]:
# "US Zip Codes Demographics" dataset
demo_data = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/zip_code_demographics.csv", dtype = {'zip':'string'})

In [159]:
# Climate data from various sources laid out in README.md
tempus2020 = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/2020avgtemp.csv", usecols = [1,2,3,5])
precipus2020 = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/2020precip.csv", usecols = [1,2,3,5])
tempus2021 = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/2021avgtemp.csv", usecols = [1,2,3,5])
precipus2021 = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/2020precip.csv", usecols = [1,2,3,5])
temppr = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/PRavgtemp.csv", usecols = [1,2,3])
precippr = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/PRprecip.csv", usecols = [1,2,3])
tempvi = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/VIavgtemp.csv", usecols = [1,2,3])
precipvi = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/VIprecip.csv", usecols = [1,2,3])

In [117]:
# Crosswalk dataset
crosswalk = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/crosswalk.csv", usecols = [0,1,2], dtype = {'ZIP':'string'})
crosswalkpr = pd.read_csv("C:/Users/44756/Documents/Postgrad/DSA8030/Data/PRcrosswalk.csv")

In [ ]:
sold_cw = pd.merge(sold_valdate, crosswalk, left_on = 'zip_code', right_on = 'ZIP')
sold_cw = sold_cw.drop(axis = 1, labels = ['status', 'ZIP'])
sold_cw

In [78]:
sold_cw_us = sold_cw[(sold_cw.state != 'Puerto Rico') & (sold_cw.state != 'Virgin Islands')]
sold_cw_us

,brokered_by,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date,COUNTYNAME,STATEFULL
607,53016.0,215000.0,2.0,2.0,NaN,597574.0,Agawam,Massachusetts,01001,1136.0,2022-01-11 00:04:00,Hampden County,Massachusetts
608,8147.0,232900.0,2.0,2.0,NaN,1138393.0,Agawam,Massachusetts,01001,1428.0,2022-01-11 00:04:00,Hampden County,Massachusetts
609,48733.0,975000.0,3.0,4.0,3.04,431222.0,Amherst,Massachusetts,01002,2074.0,2022-01-15 00:04:00,Franklin County,Massachusetts
610,48733.0,649900.0,4.0,3.0,0.48,1122145.0,Amherst,Massachusetts,01002,2650.0,2022-01-14 00:04:00,Franklin County,Massachusetts
611,79067.0,215000.0,3.0,2.0,0.19,697261.0,Chicopee,Massachusetts,01020,1828.0,2022-01-15 00:04:00,Hampden County,Massachusetts
...,...,...,...,...,...,...,...,...,...,...,...,...,...
811245,23009.0,359900.0,4.0,2.0,0.33,353094.0,Richland,Washington,99354,3600.0,2022-01-25 00:03:00,Benton County,Washington
811246,18208.0,350000.0,3.0,2.0,0.10,1062149.0,Richland,Washington,99354,1616.0,2022-01-25 00:03:00,Benton County,Washington
811247,76856.0,440000.0,6.0,3.0,0.50,405677.0,Richland,Washington,99354,3200.0,2022-01-24 00:03:00,Benton County,Washington
811248,53618.0,179900.0,2.0,1.0,0.09,761379.0,Richland,Washington,99354,933.0,2022-01-24 00:03:00,Benton County,Washington
811249,108243.0,580000.0,5.0,3.0,0.31,307704.0,Richland,Washington,99354,3615.0,2022-01-23 00:03:00,Benton County,Washington

In [79]:
sold_cw_us_21 = sold_cw_us[(sold_cw_us.prev_sold_date >= '2021-01-01') & (sold_cw_us.prev_sold_date <= '2021-12-31') ]
sold_cw_us_22 = sold_cw_us[(sold_cw_us.prev_sold_date >= '2022-01-01') & (sold_cw_us.prev_sold_date <= '2022-12-31') ]

In [142]:
sold_cw_us_21_clim = pd.merge(sold_cw_us_21, tempus2020, how = 'inner', left_on = [sold_cw_us_21['COUNTYNAME'].str.lower(), sold_cw_us_21['STATEFULL'].str.lower()], right_on = [tempus2020['Name'].str.lower(), tempus2020['State'].str.lower()])
sold_cw_us_22_clim = pd.merge(sold_cw_us_22, tempus2021, how = 'inner', left_on = [sold_cw_us_22['COUNTYNAME'].str.lower(), sold_cw_us_22['STATEFULL'].str.lower()], right_on = [tempus2021['Name'].str.lower(), tempus2021['State'].str.lower()])
sold_cw_us_21_clim = sold_cw_us_21_clim.rename(columns = {'Value':'temperature'})
sold_cw_us_22_clim = sold_cw_us_22_clim.rename(columns = {'Value':'temperature'})
sold_cw_us_21_clim = sold_cw_us_21_clim.drop(columns = ['key_0', 'key_1', 'STATEFULL', 'Name', 'State'])
sold_cw_us_22_clim = sold_cw_us_22_clim.drop(columns = ['key_0', 'key_1', 'STATEFULL', 'Name', 'State'])
sold_cw_us_21_clim = pd.merge(sold_cw_us_21_clim, precipus2020, how = 'inner', left_on = [sold_cw_us_21_clim['COUNTYNAME'].str.lower(), sold_cw_us_21['STATEFULL'].str.lower()], right_on = [precipus2020['Name'].str.lower(), precipus2020['State'].str.lower()])
sold_cw_us_22_clim = pd.merge(sold_cw_us_22_clim, precipus2021, how = 'inner', left_on = [sold_cw_us_22_clim['COUNTYNAME'].str.lower(), sold_cw_us_22['STATEFULL'].str.lower()], right_on = [precipus2021['Name'].str.lower(), precipus2021['State'].str.lower()])
sold_cw_us_21_clim = sold_cw_us_21_clim.rename(columns = {'Value':'precipitation'})
sold_cw_us_22_clim = sold_cw_us_22_clim.rename(columns = {'Value':'precipitation'})
sold_cw_us_clim = pd.concat([sold_cw_us_21_clim, sold_cw_us_22_clim])
sold_cw_us_clim = sold_cw_us_clim.drop(columns = ['key_0', 'key_1', 'State', 'Name', 'State', 'Rank_x', 'Rank_y'])
sold_cw_us_clim

,brokered_by,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date,COUNTYNAME,temperature,precipitation
0,8147.0,150000.0,NaN,NaN,40.51,1963892.0,Blandford,Massachusetts,01008,NaN,2021-01-14 00:12:00,Berkshire County,48.0,40.44
1,53016.0,285000.0,3.0,2.0,2.80,12355.0,Blandford,Massachusetts,01008,1248.0,2021-01-03 00:12:00,Berkshire County,48.0,40.44
2,53016.0,235000.0,3.0,2.0,0.96,1637754.0,Blandford,Massachusetts,01008,1220.0,2021-01-02 00:12:00,Berkshire County,48.0,40.44
3,71852.0,95000.0,NaN,NaN,12.00,1885253.0,Blandford,Massachusetts,01008,NaN,2021-01-04 00:11:00,Berkshire County,48.0,40.44
4,107912.0,539000.0,3.0,3.0,2.45,152107.0,Blandford,Massachusetts,01008,3158.0,2021-01-29 00:10:00,Berkshire County,48.0,40.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562141,23009.0,359900.0,4.0,2.0,0.33,353094.0,Richland,Washington,99354,3600.0,2022-01-25 00:03:00,Benton County,54.7,6.41
562142,18208.0,350000.0,3.0,2.0,0.10,1062149.0,Richland,Washington,99354,1616.0,2022-01-25 00:03:00,Benton County,54.7,6.41
562143,76856.0,440000.0,6.0,3.0,0.50,405677.0,Richland,Washington,99354,3200.0,2022-01-24 00:03:00,Benton County,54.7,6.41
562144,53618.0,179900.0,2.0,1.0,0.09,761379.0,Richland,Washington,99354,933.0,2022-01-24 00:03:00,Benton County,54.7,6.41
562145,108243.0,580000.0,5.0,3.0,0.31,307704.0,Richland,Washington,99354,3615.0,2022-01-23 00:03:00,Benton County,54.7,6.41

In [ ]:
sold_cw_pr = sold_cw[sold_cw.state == 'Puerto Rico']
sold_cw_pr = pd.merge(sold_cw_pr, crosswalkpr, left_on = 'COUNTYNAME', right_on = 'Municipality')

,brokered_by,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date,COUNTYNAME,STATEFULL,Municipality,ClimReg
0,62066.0,77500.0,3.0,1.0,NaN,1072625.0,Ponce,Puerto Rico,00717,957.0,2021-01-29 00:11:00,Ponce Municipio,Puerto Rico,Ponce Municipio,Ponce
1,72457.0,524900.0,3.0,2.0,0.09,1850809.0,Aguada,Puerto Rico,00602,2200.0,2021-01-13 00:12:00,Aguada Municipio,Puerto Rico,Aguada Municipio,Aguadilla
2,48586.0,175000.0,NaN,NaN,0.14,1139965.0,Aguadilla,Puerto Rico,00603,3200.0,2021-01-29 00:11:00,Aguadilla Municipio,Puerto Rico,Aguadilla Municipio,Aguadilla
3,61711.0,90000.0,3.0,2.0,0.08,141421.0,Aguadilla,Puerto Rico,00603,1421.0,2021-01-19 00:10:00,Aguadilla Municipio,Puerto Rico,Aguadilla Municipio,Aguadilla
4,49592.0,22500.0,2.0,1.0,0.32,1889894.0,Anasco,Puerto Rico,00610,850.0,2021-01-30 00:12:00,Anasco Municipio,Puerto Rico,Anasco Municipio,Aguadilla
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,29940.0,125000.0,3.0,2.0,0.02,1733349.0,Carolina,Puerto Rico,00987,1178.0,2022-01-04 00:01:00,Carolina Municipio,Puerto Rico,Carolina Municipio,Bayamon
458,7922.0,280000.0,4.0,2.0,0.10,1104885.0,Carolina,Puerto Rico,00987,1509.0,2021-01-29 00:12:00,Carolina Municipio,Puerto Rico,Carolina Municipio,Bayamon
459,29911.0,86000.0,3.0,1.0,0.02,1320012.0,Carolina,Puerto Rico,00987,247.0,2021-01-30 00:11:00,Carolina Municipio,Puerto Rico,Carolina Municipio,Bayamon
460,87436.0,110000.0,3.0,2.0,NaN,1856941.0,Carolina,Puerto Rico,00987,1025.0,2021-01-26 00:11:00,Carolina Municipio,Puerto Rico,Carolina Municipio,Bayamon
461,103848.0,445000.0,2.0,1.0,NaN,1757629.0,Carolina,Puerto Rico,00987,992.0,2021-01-25 00:10:00,Carolina Municipio,Puerto Rico,Carolina Municipio,Bayamon

In [120]:
sold_cw_pr_21 = sold_cw_pr[(sold_cw_pr.prev_sold_date >= '2021-01-01') & (sold_cw_pr.prev_sold_date <= '2021-12-31') ]
sold_cw_pr_22 = sold_cw_pr[(sold_cw_pr.prev_sold_date >= '2022-01-01') & (sold_cw_pr.prev_sold_date <= '2022-12-31') ]

In [154]:
sold_cw_pr_21_clim = pd.merge(sold_cw_pr_21, temppr, how = 'inner', left_on = 'ClimReg', right_on = 'name')
sold_cw_pr_22_clim = pd.merge(sold_cw_pr_22, temppr, how = 'inner', left_on = 'ClimReg', right_on = 'name')
sold_cw_pr_21_clim = sold_cw_pr_21_clim.drop(columns = ['2021'])
sold_cw_pr_21_clim = sold_cw_pr_21_clim.rename(columns = {'2020':'temperature'})
sold_cw_pr_22_clim = sold_cw_pr_22_clim.drop(columns = ['2020'])
sold_cw_pr_22_clim = sold_cw_pr_22_clim.rename(columns = {'2021':'temperature'})
sold_cw_pr_21_clim = pd.merge(sold_cw_pr_21_clim, precippr, how = 'inner', left_on = 'ClimReg', right_on = 'name')
sold_cw_pr_22_clim = pd.merge(sold_cw_pr_22_clim, precippr, how = 'inner', left_on = 'ClimReg', right_on = 'name')
sold_cw_pr_21_clim = sold_cw_pr_21_clim.drop(columns = ['2021'])
sold_cw_pr_21_clim = sold_cw_pr_21_clim.rename(columns = {'2020':'precipitation'})
sold_cw_pr_22_clim = sold_cw_pr_22_clim.drop(columns = ['2020'])
sold_cw_pr_22_clim = sold_cw_pr_22_clim.rename(columns = {'2021':'precipitation'})
sold_cw_pr_21_clim = sold_cw_pr_21_clim.drop(columns = ['STATEFULL', 'Municipality', 'ClimReg', 'name_x', 'name_y'])
sold_cw_pr_22_clim = sold_cw_pr_22_clim.drop(columns = ['STATEFULL', 'Municipality', 'ClimReg', 'name_x', 'name_y'])
sold_cw_pr_clim = pd.concat([sold_cw_pr_21_clim, sold_cw_pr_22_clim])
sold_cw_pr_clim

,brokered_by,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date,COUNTYNAME,temperature,precipitation
0,62066.0,77500.0,3.0,1.0,NaN,1072625.0,Ponce,Puerto Rico,00717,957.0,2021-01-29 00:11:00,Ponce Municipio,77.000,75.326025
1,72457.0,524900.0,3.0,2.0,0.09,1850809.0,Aguada,Puerto Rico,00602,2200.0,2021-01-13 00:12:00,Aguada Municipio,77.432,80.255555
2,48586.0,175000.0,NaN,NaN,0.14,1139965.0,Aguadilla,Puerto Rico,00603,3200.0,2021-01-29 00:11:00,Aguadilla Municipio,77.432,80.255555
3,61711.0,90000.0,3.0,2.0,0.08,141421.0,Aguadilla,Puerto Rico,00603,1421.0,2021-01-19 00:10:00,Aguadilla Municipio,77.432,80.255555
4,49592.0,22500.0,2.0,1.0,0.32,1889894.0,Anasco,Puerto Rico,00610,850.0,2021-01-30 00:12:00,Anasco Municipio,77.432,80.255555
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276,41709.0,175000.0,3.0,2.0,NaN,1750245.0,Carolina,Puerto Rico,00987,1321.0,2022-01-15 00:02:00,Carolina Municipio,77.054,71.690590
277,102922.0,144900.0,4.0,2.0,11.00,10757.0,Carolina,Puerto Rico,00987,1400.0,2022-01-14 00:02:00,Carolina Municipio,77.054,71.690590
278,29911.0,165000.0,3.0,2.0,0.02,1843751.0,Carolina,Puerto Rico,00987,3100.0,2022-01-14 00:01:00,Carolina Municipio,77.054,71.690590
279,29911.0,39000.0,3.0,1.0,0.02,1320010.0,Carolina,Puerto Rico,00987,505.0,2022-01-07 00:01:00,Carolina Municipio,77.054,71.690590
280,29940.0,125000.0,3.0,2.0,0.02,1733349.0,Carolina,Puerto Rico,00987,1178.0,2022-01-04 00:01:00,Carolina Municipio,77.054,71.690590

                 name    2020    2021
0  Puerto Rico (U.S.)  77.522  77.306
1           Aguadilla  77.432  77.216
2             Arecibo  76.622  76.406
3             Bayamon  77.252  77.054
4             Guayama  77.630  77.432
5             Humacao  78.818  78.620
6            Mayaguez  78.008  77.774
7               Ponce  77.000  76.784
8            San Juan  76.730  76.532

In [134]:
sold_cw_pr_22_clim

,brokered_by,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date,COUNTYNAME,STATEFULL,Municipality,ClimReg,name,2020,2021
0,60830.0,200000.0,3.0,1.0,4.98,1855411.0,Arecibo,Puerto Rico,00612,580.0,2022-01-16 00:03:00,Arecibo Municipio,Puerto Rico,Arecibo Municipio,Arecibo,Arecibo,79.417759,70.175628
1,60830.0,380000.0,2.0,2.0,0.19,1857001.0,Arecibo,Puerto Rico,00612,1210.0,2022-01-06 00:03:00,Arecibo Municipio,Puerto Rico,Arecibo Municipio,Arecibo,Arecibo,79.417759,70.175628
2,64071.0,295000.0,3.0,2.0,NaN,12942.0,Arecibo,Puerto Rico,00612,1630.0,2022-01-25 00:02:00,Arecibo Municipio,Puerto Rico,Arecibo Municipio,Arecibo,Arecibo,79.417759,70.175628
3,60830.0,250000.0,5.0,2.0,0.25,1946165.0,Arecibo,Puerto Rico,00612,1210.0,2022-01-24 00:02:00,Arecibo Municipio,Puerto Rico,Arecibo Municipio,Arecibo,Arecibo,79.417759,70.175628
4,78468.0,66000.0,3.0,1.0,NaN,333392.0,Barceloneta,Puerto Rico,00617,1376.0,2022-01-04 00:02:00,Barceloneta Municipio,Puerto Rico,Barceloneta Municipio,Arecibo,Arecibo,79.417759,70.175628
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276,41709.0,175000.0,3.0,2.0,NaN,1750245.0,Carolina,Puerto Rico,00987,1321.0,2022-01-15 00:02:00,Carolina Municipio,Puerto Rico,Carolina Municipio,Bayamon,Bayamon,82.543352,71.690590
277,102922.0,144900.0,4.0,2.0,11.00,10757.0,Carolina,Puerto Rico,00987,1400.0,2022-01-14 00:02:00,Carolina Municipio,Puerto Rico,Carolina Municipio,Bayamon,Bayamon,82.543352,71.690590
278,29911.0,165000.0,3.0,2.0,0.02,1843751.0,Carolina,Puerto Rico,00987,3100.0,2022-01-14 00:01:00,Carolina Municipio,Puerto Rico,Carolina Municipio,Bayamon,Bayamon,82.543352,71.690590
279,29911.0,39000.0,3.0,1.0,0.02,1320010.0,Carolina,Puerto Rico,00987,505.0,2022-01-07 00:01:00,Carolina Municipio,Puerto Rico,Carolina Municipio,Bayamon,Bayamon,82.543352,71.690590
280,29940.0,125000.0,3.0,2.0,0.02,1733349.0,Carolina,Puerto Rico,00987,1178.0,2022-01-04 00:01:00,Carolina Municipio,Puerto Rico,Carolina Municipio,Bayamon,Bayamon,82.543352,71.690590

In [ ]:
sold_cw_vi = sold_cw[sold_cw.state == 'Virgin Islands']

array(['St. Croix Island'], dtype=object)

In [160]:
sold_cw_vi_21 = sold_cw_vi[(sold_cw_vi.prev_sold_date >= '2021-01-01') & (sold_cw_vi.prev_sold_date <= '2021-12-31') ]
sold_cw_vi_22 = sold_cw_vi[(sold_cw_vi.prev_sold_date >= '2022-01-01') & (sold_cw_vi.prev_sold_date <= '2022-12-31') ]

In [165]:
tempvi

                                  name    2020    2021
0  United States Virgin Islands (U.S.)  81.032  80.798
1                     St. Croix Island  81.284  81.086
2       Saint John (County Equivalent)  80.546  80.294
3     Saint Thomas (County Equivalent)  80.618  80.384

In [168]:
sold_cw_vi_21_clim = pd.merge(sold_cw_vi_21, tempvi, how = 'inner', left_on = 'COUNTYNAME', right_on = 'name')
sold_cw_vi_22_clim = pd.merge(sold_cw_vi_22, tempvi, how = 'inner', left_on = 'COUNTYNAME', right_on = 'name')
sold_cw_vi_21_clim = sold_cw_vi_21_clim.drop(columns = ['2021'])
sold_cw_vi_21_clim = sold_cw_vi_21_clim.rename(columns = {'2020':'temperature'})
sold_cw_vi_22_clim = sold_cw_vi_22_clim.drop(columns = ['2020'])
sold_cw_vi_22_clim = sold_cw_vi_22_clim.rename(columns = {'2021':'temperature'})
sold_cw_vi_21_clim = pd.merge(sold_cw_vi_21_clim, precipvi, how = 'inner', left_on = 'COUNTYNAME', right_on = 'name')
sold_cw_vi_22_clim = pd.merge(sold_cw_vi_22_clim, precipvi, how = 'inner', left_on = 'COUNTYNAME', right_on = 'name')
sold_cw_vi_21_clim = sold_cw_vi_21_clim.drop(columns = ['2021'])
sold_cw_vi_21_clim = sold_cw_vi_21_clim.rename(columns = {'2020':'precipitation'})
sold_cw_vi_22_clim = sold_cw_vi_22_clim.drop(columns = ['2020'])
sold_cw_vi_22_clim = sold_cw_vi_22_clim.rename(columns = {'2021':'precipitation'})
sold_cw_vi_21_clim = sold_cw_vi_21_clim.drop(columns = ['STATEFULL', 'name_x', 'name_y'])
sold_cw_vi_22_clim = sold_cw_vi_22_clim.drop(columns = ['STATEFULL', 'name_x', 'name_y'])
sold_cw_vi_clim = pd.concat([sold_cw_vi_21_clim, sold_cw_vi_22_clim])
sold_cw_vi_clim

,brokered_by,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date,COUNTYNAME,temperature,precipitation
0,22968.0,275000.0,3.0,2.0,0.25,599695.0,Christiansted,Virgin Islands,00820,1058.0,2021-01-30 00:12:00,St. Croix Island,81.284,47.590577
1,22968.0,93000.0,NaN,1.0,NaN,1685878.0,Christiansted,Virgin Islands,00820,510.0,2021-01-17 00:12:00,St. Croix Island,81.284,47.590577
2,34543.0,875000.0,7.0,8.0,0.93,1142445.0,Christiansted,Virgin Islands,00820,14000.0,2021-01-16 00:12:00,St. Croix Island,81.284,47.590577
3,22968.0,274900.0,NaN,NaN,1.18,131049.0,Christiansted,Virgin Islands,00820,NaN,2021-01-09 00:12:00,St. Croix Island,81.284,47.590577
4,22968.0,350000.0,NaN,NaN,32.19,1949374.0,Frederiksted,Virgin Islands,00840,NaN,2021-01-23 00:12:00,St. Croix Island,81.284,47.590577
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,22968.0,340000.0,NaN,NaN,10.00,913321.0,Christiansted,Virgin Islands,00820,NaN,2022-01-14 00:01:00,St. Croix Island,81.086,39.177187
78,22968.0,799000.0,5.0,4.0,0.65,1286017.0,Christiansted,Virgin Islands,00820,3833.0,2022-01-11 00:01:00,St. Croix Island,81.086,39.177187
79,22968.0,329000.0,2.0,2.0,NaN,1842891.0,Christiansted,Virgin Islands,00820,1660.0,2022-01-10 00:01:00,St. Croix Island,81.086,39.177187
80,17348.0,239500.0,1.0,2.0,NaN,192548.0,Christiansted,Virgin Islands,00820,741.0,2022-01-06 00:01:00,St. Croix Island,81.086,39.177187
81,79277.0,79000.0,NaN,NaN,0.80,574067.0,Christiansted,Virgin Islands,00820,NaN,2022-01-03 00:01:00,St. Croix Island,81.086,39.177187

In [169]:
sold_clim = pd.concat([sold_cw_us_clim, sold_cw_pr_clim, sold_cw_vi_clim])
sold_clim

,brokered_by,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date,COUNTYNAME,temperature,precipitation
0,8147.0,150000.0,NaN,NaN,40.51,1963892.0,Blandford,Massachusetts,01008,NaN,2021-01-14 00:12:00,Berkshire County,48.000,40.440000
1,53016.0,285000.0,3.0,2.0,2.80,12355.0,Blandford,Massachusetts,01008,1248.0,2021-01-03 00:12:00,Berkshire County,48.000,40.440000
2,53016.0,235000.0,3.0,2.0,0.96,1637754.0,Blandford,Massachusetts,01008,1220.0,2021-01-02 00:12:00,Berkshire County,48.000,40.440000
3,71852.0,95000.0,NaN,NaN,12.00,1885253.0,Blandford,Massachusetts,01008,NaN,2021-01-04 00:11:00,Berkshire County,48.000,40.440000
4,107912.0,539000.0,3.0,3.0,2.45,152107.0,Blandford,Massachusetts,01008,3158.0,2021-01-29 00:10:00,Berkshire County,48.000,40.440000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,22968.0,340000.0,NaN,NaN,10.00,913321.0,Christiansted,Virgin Islands,00820,NaN,2022-01-14 00:01:00,St. Croix Island,81.086,39.177187
78,22968.0,799000.0,5.0,4.0,0.65,1286017.0,Christiansted,Virgin Islands,00820,3833.0,2022-01-11 00:01:00,St. Croix Island,81.086,39.177187
79,22968.0,329000.0,2.0,2.0,NaN,1842891.0,Christiansted,Virgin Islands,00820,1660.0,2022-01-10 00:01:00,St. Croix Island,81.086,39.177187
80,17348.0,239500.0,1.0,2.0,NaN,192548.0,Christiansted,Virgin Islands,00820,741.0,2022-01-06 00:01:00,St. Croix Island,81.086,39.177187
81,79277.0,79000.0,NaN,NaN,0.80,574067.0,Christiansted,Virgin Islands,00820,NaN,2022-01-03 00:01:00,St. Croix Island,81.086,39.177187